<mat-tab-group [selectedIndex]="tabIndex" dynamicHeight>
    <mat-tab label="{{'header.login' | translate}}">
      <div class="mt-2"></div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'user.emailAddress' | translate}}</mat-label>
            <input matInput placeholder="{{'user.emailAddress' | translate}}" formControlName="emailAddress" required maxlength="255"/>
            <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'user.password' | translate}}</mat-label>
            <input matInput placeholder="{{'user.password' | translate}}" formControlName="password" 
            required maxlength="255" type="password"/>
            <mat-icon matPrefix>lock</mat-icon>
        </mat-form-field>
        
        <button mat-raised-button color="primary" class="w-100" type="submit">
            {{'header.login' | translate}}
        </button>
      </form>
    </mat-tab>
  
    <mat-tab label="{{'header.signUp' | translate}}">
      <div class="mt-2"></div>
      <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'common.name' | translate}}</mat-label>
            <input matInput placeholder="{{'common.name' | translate}}" formControlName="name" required maxlength="255"/>
            <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'user.emailAddress' | translate}}</mat-label>
            <input matInput placeholder="{{'common.emailAddress' | translate}}" formControlName="emailAddress" required maxlength="255"/>
            <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'user.password' | translate}}</mat-label>
            <input matInput placeholder="{{'user.password' | translate}}" formControlName="password" 
            required maxlength="255" type="password"/>
            <mat-icon matPrefix>lock_outlined</mat-icon>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'user.confirmPassword' | translate}}</mat-label>
            <input matInput placeholder="{{'user.confirmPassword' | translate}}" formControlName="confirmPassword" 
            required maxlength="255" type="password"/>
            <mat-icon matPrefix>lock</mat-icon>
            <mat-error *ngIf="signUpForm.errors?.passwordNotMatch && 
            signUpForm.get('confirmPassword')?.dirty || signUpForm.get('confirmPassword')?.touched">
                {{'messages.passwordsMismatch' | translate}}
            </mat-error>
        </mat-form-field>
  
        <button mat-raised-button color="primary" class="w-100" type="submit">
            {{'header.signUp' | translate}}
        </button>
      </form>
    </mat-tab>

  </mat-tab-group>