<div class="h-100 row">
    <div class="col-12 d-flex justify-content-center">
        <mat-card class="w-75 h-75 mt-5" *ngIf="action === 'email-verification'">
            <div class="h-100 row align-items-center text-center" *ngIf="isProcessing">
                <div class="col-12">
                    <img src="assets/images/spinner.gif" height="60px" width="60px" class="p-0 m-0"/>
                    <div class="mat-headline">Email verification in progress</div> 
                </div>
                
            </div>
            <div class="row text-center" *ngIf="!isProcessing">
                <div class="col-12">
                    <div class="mat-headline mt-4">{{data?.message | translate}}</div> 
                </div>
            </div>
        </mat-card>
    </div>
</div>
