<mat-card class="m-3">
    <div *ngIf="displayForm === 'ADD_FORM'">
        <label class="mat-headline">{{'user.add' | translate}}</label>
        <form [formGroup]="addForm" (ngSubmit)="save()">
            <div class="row mb-1">
                <div class="col-lg-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'common.name' | translate}}</mat-label>
                        <input matInput placeholder="{{'common.name' | translate}}" formControlName="name" required
                            maxlength="255" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-lg-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'common.code' | translate}}</mat-label>
                        <input matInput placeholder="{{'user.emailAddress' | translate}}" formControlName="emailAddress" required
                            maxlength="255" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-12">
                        <label class="mat-subheading-2">{{'user.assignRoles' | translate}}</label>

                        <div class="row">
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'common.filter' | translate}}</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" autocomplete="off"
                                        placeholder="{{'common.filterPlaceHolder' | translate}}" #input />
                                </mat-form-field>
                            </div>
                        </div>

                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" matSort>

                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                                [checked]="selectedObjects.hasValue() && isAllSelected()"
                                                [indeterminate]="selectedObjects.hasValue() && !isAllSelected()"
                                                [aria-label]="checkboxLabel()" color="warn">
                                  </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                  <mat-checkbox (click)="$event.stopPropagation()"
                                                (change)="$event ? selectedObjects.toggle(row) : null"
                                                [checked]="selectedObjects.isSelected(row)"
                                                [aria-label]="checkboxLabel(row)">
                                  </mat-checkbox>
                                </td>
                              </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width':'40%'}">
                                    {{'common.name' | translate}}</th>
                                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                            </ng-container>
                            <ng-container matColumnDef="code">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width':'40%'}">
                                    {{'common.code' | translate}}</th>
                                <td mat-cell *matCellDef="let element">{{ element.code }}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">
                                    {{'messages.noMatchingFilterData' | translate}} "{{ input.value }}"
                                </td>
                            </tr>
                        </table>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 text-end">
                    <button mat-raised-button type="button" color="accent" class="me-2">{{'common.close' |
                        translate}}</button>
                    <button mat-raised-button type="submit" color="primary" [disabled]="!addForm.valid">{{'common.add' |
                        translate}}</button>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="displayForm === 'UPDATE_FORM'">
        <label class="mat-headline">{{'user.update' | translate}}</label>
        <form [formGroup]="updateForm" (ngSubmit)="update()">
            <div class="row mb-1">
                <div class="col-lg-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'common.name' | translate}}</mat-label>
                        <input matInput placeholder="{{'common.name' | translate}}" formControlName="name" required
                            maxlength="255" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-lg-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'common.code' | translate}}</mat-label>
                        <input matInput placeholder="{{'user.emailAddress' | translate}}" formControlName="emailAddress" required
                            maxlength="255" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-12">
                        <label class="mat-subheading-2">{{'user.assignRoles' | translate}}</label>

                        <div class="row">
                            <div class="col-lg-12">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{'common.filter' | translate}}</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" autocomplete="off"
                                        placeholder="{{'common.filterPlaceHolder' | translate}}" #input />
                                </mat-form-field>
                            </div>
                        </div>

                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" matSort>

                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                  <mat-checkbox (change)="$event ? masterToggle() : null"
                                                [checked]="selectedObjects.hasValue() && isAllSelected()"
                                                [indeterminate]="selectedObjects.hasValue() && !isAllSelected()"
                                                [aria-label]="checkboxLabel()">
                                  </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                  <mat-checkbox (click)="$event.stopPropagation()"
                                                (change)="$event ? selectedObjects.toggle(row) : null"
                                                [checked]="selectedObjects.isSelected(row)"
                                                [aria-label]="checkboxLabel(row)">
                                  </mat-checkbox>
                                </td>
                              </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width':'40%'}">
                                    {{'common.name' | translate}}</th>
                                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                            </ng-container>
                            <ng-container matColumnDef="code">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header [ngStyle]="{'width':'40%'}">
                                    {{'common.code' | translate}}</th>
                                <td mat-cell *matCellDef="let element">{{ element.code }}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                            <!-- Row shown when there is no matching data. -->
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="4">
                                    {{'messages.noMatchingFilterData' | translate}} "{{ input.value }}"
                                </td>
                            </tr>
                        </table>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 text-end">
                    <button mat-raised-button type="button" color="accent" class="me-2">{{'common.close' |
                        translate}}</button>
                    <button mat-raised-button type="submit" color="primary"
                        [disabled]="!updateForm.valid">{{'common.update' | translate}}</button>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="displayForm === 'DELETE_FORM'">
        <label class="mat-headline">{{'user.delete' | translate}}</label>
        <form [formGroup]="deleteForm" (ngSubmit)="delete()">
            <div class="row mb-1">
                <div class="col-lg-12">
                    <mat-grid-list cols="2" rowHeight="30px">
                        <mat-grid-tile class="bg-color-light-gray fw-bold">{{'common.name' | translate}}</mat-grid-tile>
                        <mat-grid-tile class="bg-color-light-gray">{{this.selectedUser?.name}}</mat-grid-tile>
                        <mat-grid-tile class="bg-color-light-gray fw-bold">{{'user.emailAddress' | translate}}</mat-grid-tile>
                        <mat-grid-tile class="bg-color-light-gray">{{this.selectedUser?.emailAddress}}</mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 text-end">
                    <button mat-raised-button type="button" color="accent" class="me-2">{{'common.close' |
                        translate}}</button>
                    <button mat-raised-button type="submit" color="primary"
                        [disabled]="!deleteForm.valid">{{'common.delete' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</mat-card>