/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.border-color-gray {
    border-color: gray;
}

.bg-color-light-gray {
    background: lightgray;
}

.bg-color-dark-gray {
    background: darkgray;
}

.multi-line-tooltip {
    white-space: pre-line !important;
    height: auto;
    background: black;
    font-size: 16px;
}

.hyperlink {
    cursor: pointer;
    color: #3f51b5;
    text-decoration: underline;
}

.clickable-link{
    color: #0d6efd;
    text-decoration: none;
}

.clickable-link:hover{
    text-decoration: underline;
    cursor: pointer;
}