
<mat-card class="m-3">
    <div *ngIf="displayForm === 'ADD_FORM'">
        <label class="mat-headline text-primary">{{'page.add' | translate}}</label>
        <form [formGroup]="addForm" (ngSubmit)="save()">
            <div class="row mb-1">
                <div class="col-lg-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'page.name' | translate}}</mat-label>
                        <input matInput placeholder="{{'page.name' | translate}}"
                        formControlName="name" required maxlength="255" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-lg-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'page.urlPath' | translate}}</mat-label>
                        <input matInput placeholder="{{'page.urlPath' | translate}}"
                        formControlName="urlPath" required maxlength="255" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-lg-12">
                    <angular-editor formControlName="content" [config]="editorConfig"></angular-editor>

                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 text-end">
                    <button mat-raised-button  color="accent" class="mr-2">{{'common.close' | translate}}</button>
                    <button mat-raised-button  type="submit" color="primary"
                    [disabled]="!addForm.valid">{{'common.add' | translate}}</button>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="displayForm === 'UPDATE_FORM'">
        <label class="mat-headline text-primary">{{'page.update' | translate}}</label>
        <form [formGroup]="updateForm" (ngSubmit)="update()">
            <div class="row mb-1">
                <div class="col-lg-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'page.name' | translate}}</mat-label>
                        <input matInput placeholder="{{'page.name' | translate}}"
                        formControlName="name" required maxlength="255" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-lg-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'page.urlPath' | translate}}</mat-label>
                        <input matInput placeholder="{{'page.urlPath' | translate}}"
                        formControlName="urlPath" required maxlength="255" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-lg-12">
                    <angular-editor formControlName="content" [config]="editorConfig"></angular-editor>

                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 text-end">
                    <button mat-raised-button  color="accent" class="mr-2">{{'common.close' | translate}}</button>
                    <button mat-raised-button  type="submit" color="primary"
                    [disabled]="!updateForm.valid">{{'common.update' | translate}}</button>
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="displayForm === 'DELETE_FORM'">
        <label class="mat-headline text-primary">{{'page.delete' | translate}}</label>
        <form [formGroup]="deleteForm" (ngSubmit)="delete()">
            <div class="row mb-1">
                <div class="col-lg-12">
                    <mat-grid-list cols="2" rowHeight="30px">
                        <mat-grid-tile class="bg-color-light-gray fw-bold">{{'page.name' | translate}}</mat-grid-tile>
                        <mat-grid-tile class="bg-color-light-gray">{{this.selectedArticle?.name}}</mat-grid-tile>
                        <mat-grid-tile class="bg-color-light-gray fw-bold">{{'page.urlPath' | translate}}</mat-grid-tile>
                        <mat-grid-tile class="bg-color-light-gray">{{this.selectedArticle?.urlPath}}</mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 text-end">
                    <button mat-raised-button type="button" color="accent" class="me-2">{{'common.close' |
                        translate}}</button>
                    <button mat-raised-button type="submit" color="primary"
                        [disabled]="!deleteForm.valid">{{'common.delete' | translate}}</button>
                </div>
            </div>
        </form>
    </div>

</mat-card>

